    <div data-ng-repeat="error in errors">{{error}}</div>
<form id="addTermForm" name="addTermForm" ng-submit="addTerm(termData,addTermForm)">
    <fieldset class="center">
        <legend><h2>Nov pojam</h2></legend>
        <label for='Term'>Term</label>
        <input id='Term' type="text" name='Term' ng-model='termData.Term' ng-required='true'>
        <label for='Language'>Language</label>
        <input id='Language' type="text" name='Language' ng-model='termData.Language' ng-required='true'>
        <!-- select ? -->
        <label for='Description'>Description</label>
        <input id='Description' type="text" name='Description' ng-model='termData.Description' ng-required='true'>
        <label for='Category'>Category</label>
        <select id='Category' name='Category' ng-model='termData.Category' ng-required='true'>
            <option data-ng-repeat="category in categories" value="{{category.id}}">{{category.title}}</option>
        </select>
        <button type="submit" ng-disabled="addTermForm.$invalid">Dodaj termin</button>
    </fieldset>
</form>