﻿<div class="error" ng-cloak ng-if="error" ng-bind="error">{{error}}
</div>

<div id="TermDetails">
    <div ng-if="!editDetails" class="round">
        <!--<div class="line1">Termin:{{details.term}}</div>
        <div class="line2">Kategorija:<a href="#/category/{{details.category_id}}">{{details.category_title}}</a></div>
        <div class="line1">Jezik:{{details.language}}</div>
        <div class="line2">Opis:{{details.description}}</div>
        <div class="line1">Zaključak: {{details.conclusion}}</div>
        <div class="line2">Dodao korisnik:{{result.creator}} dana {{details.creation_date}} </div>
        -->
        <h2><a href="#/category/{{details.category_id}}">
            <span style="font-size: 90%">{{details.category_title}}</span></a>:
            {{details.term}}</h2> <!-- TODO mala zastava (img/lang_<code>.png) u ovoj liniji umesto ispod -->
        <p><b>Jezik:</b> {{details.language}}</p>
        <p>{{details.description}}</p>
        <p><b>Dodao:</b> {{details.creator}}, {{details.creation_date | asDate | date:'d.M.yyyy H:mm'}}</p>
        <p ng-cloak ng-if="details.conclusion && details.conclusion.length > 0"
            class="conclusion">{{details.conclusion}}</p>
    </div>
    <div ng-cloak ng-if="editDetails"  class="modal" >
        <div class="modalcontent">
    <form class="inputForm"  style="padding:30px" name="termEditForm" ng-submit="updateTerm(editDetails)">
        <label for="term">Termin:</label>
        <input name="term" id="term" type="text" ng-model="editDetails.term" ng-required="true">

        <label for="lang">Jezik: </label>
        <select id='lang' name="language" ng-model="editDetails.language_code" ng-required="true" ng-options="option.code as option.language for option in languages" >
        </select>

        <label for="category">Kategorija: {{editDetails.category_title}}</label> <a href="" class="tooltipped">?<p>Kategorije termina morate izmeniti posebno</p></a>
        <!--<select name="category" ng-model="editDetails.category_id" ng-required="true" ng-options="option.id as option.title for option in categories">
        </select>-->

        <label for="desc" >Opis:</label>
        <input id="desc" name="desc"  type="text"  ng-model="editDetails.description" ng-required="true">
        <label for="conc" >Zaključak:</label>
        <input name="conc" id="conc" type="text"  ng-model="editDetails.conclusion">
        <button type="submit" ng-disabled="termEditForm.$invalid || termEditForm.$pristine" value="Save">Snimi izmene</button>
        <button type="button" value="Cancel" ng-click="cancelEdit()">Otkaži izmene</button>
    </form>
        </div>
    </div>
</div>

<span id="Options" ng-cloak ng-if="!editDetails">
    <a href="" ng-click="editTerm()" class="textbutton">Izmeni termin</a>
</span>
<span ng-cloak ng-if="otherCategories.length > 0">
    <a href="" ng-click="showCategoriesList()" class="textbutton">Pogledaj termin u drugim kategorijama</a>
</span>
<select ng-show="showCategories" ng-model="chosenCategory">
    <option ng-repeat="cat in otherCategories" ng-click="changeCategory(cat.ID)" >{{cat.TITLE}}</option>
</select>

<fieldset>
    <legend><h3>Primeri:</h3></legend>
    <div data-ng-repeat="example in details.examples">
        {{example.example}}
        <button type="button" class="imageButton" ng-click="deleteExample(example.id)">
            <img id="imageDelete" src="img/ic_delete_black_18dp.png" height="16px" />
        </button>
    </div>
    <div id="ExampleOptions">
        <span class="menuItem" data-ng-repeat="option in examplesOptions" ng-click='command(option.action)'>
            {{option.name}}
        </span>
    </div>
    <form ng-show="showAddExample">
        <input type="textarea" class="inputArea" ng-model="newExampleText" placeholder="Uneti novi primer"/>
        <button type="button" class="btn" ng-click="addExample()">Unesi primer</button>
    </form>

</fieldset>
<fieldset>
    <legend><h3>Prevodi:</h3></legend><!-- ista fora kao gore navedeno, za zastavu... -->
    <a href="" ng-if="!newTranslation" ng-click="translationOptions.addTranslation()" class="textbutton">Dodaj predlog prevoda</a>
        <translation mode="edit" ng-if="newTranslation" data="newTranslation" controls="translationOptions"></translation>
    <div data-ng-repeat="translation in details.translations | orderBy : 'rating' : true" class="bordered term">
        <translation mode="view" data="translation" controls="translationOptions"></translation>
        </div>

</fieldset>