<div ng-switch="mode" class="bordered term">
<!-- TODO (i za category.php) staviti tabelu. termTemplate = <td>. I ng-if za kad nema termina. -->
<!-- Ideja - da ceo red bude link ka detaljima o terminu. Da budu slike za dugmice, skroz desno -->
    <div ng-switch-when="view">
        <!--<div class="line1">Termin:{{data.term}}</div>
        <div class="line2">Opis:{{data.description}}</div>
        <div class="line1">Dodao korisnik: {{data.creator}} dana {{data.creation_date}}</div>
        -->
        <a href="#/term/{{data.category_id}}/{{data.ID}}" 
            style="float: left; margin-right: 1em"><b>{{data.term}}</b></a>
        <span>{{data.description}}</span>
        <span style="float: right; font-size: 90%">Dodao: <b>{{data.creator}}</b>, {{data.creation_date | asDate | date:'d.M.yyyy H:mm'}}</span>

        <div>
        <a class="textbutton" href="#/term/{{data.category_id}}/{{data.ID}}">Detalji</a>
        <a class="textbutton" href="" ng-click="controls.deleteTerm(data.ID)">Obriši termin iz kategorije</a>
        <a class="textbutton" href="" ng-click="showCL()">Dodaj u drugu kategoriju</a>
        <form data-ng-show="showCategoryList" style="display: inline-block">
            <select data-ng-model="chosenCategory">
                <option data-ng-repeat="cat in categories" value="{{cat.id}}">{{cat.title}}</option>
            </select>
            <button  data-ng-click="controls.addToCategory(data.ID, chosenCategory)">Dodaj</button>
        </form>
        </div>
    </div>

    <div ng-switch-when="edit">
        <form id="editTermForm" name="editTermForm" ng-submit="controls.save(data)">
            <label for='Term'>Termin</label>
            <input id='Term' type="text" name='Term' size="30" ng-model='data.term' ng-required='true'>

            <label for='Language'>Jezik</label>
            <select id='Language' name='Language' ng-model='data.language' ng-required='true'>
                <option ng-repeat="language in languages track by language.code" value="{{language.code}}">
                    {{language.language}}
                </option>
            </select>
            <br>
            <label for='Description'>Opis</label>
            <input id='Description' type="text" size="50" name='Description' ng-model='data.description' ng-required='true'>

            <!-- <label for='Category'>Category</label>
            <select id='Category' name='Category' ng-model='data.category_id' ng-required='true'>
                <option data-ng-repeat="category in controls.categories" value="{{category.id}}">{{category.title}}</option>
            </select>-->
            <br>
            <button type="submit" ng-disabled="editTermForm.$invalid">Dodaj termin</button>
            <a class="textbutton" href="" ng-click="controls.cancelAdd()">Otkaži</a>
        </form>
    </div>

</div>