<div ng-switch="mode">
    <form id="quickSearchForm" name='quickSearchForm' ng-submit="searchfn(params)">
        <label ng-show="mode=='quick'" for="searchText">Brza pretraga</label>
        <label ng-show="mode=='full'" for="searchText">Termin:</label>
        <input id="searchText" placeholder="Uneti deo termina" type="text" ng-model="params.term" ng-required="true" >

        <label ng-show="mode=='full'" for="language">Jezik:</label>
        <select id="language" ng-show="mode=='full'" ng-model="params.language"  ng-options="option.code as option.language for option in languages">
        </select>

        <label ng-show="mode=='full'" for="category">Kategorija:</label>
        <select ng-show="mode=='full'" id="category" ng-show="mode=='full'" ng-model="params.category">
            <option data-ng-repeat="category in categories" value="{{category.id}}">{{category.title}}</option>
        </select>

        <button type="submit" ng-disabled="quickSearchForm.$invalid">Traži</button>
    </form>

</div>