<Search mode="full" params="params" searchfn="d.search(params)" categories="categories" languages="languages"></Search>
<div>
    <span ng-cloak>Za zadate parametre </span>
    <span ng-cloak ng-if="!searchResults.length>0">nije pronađen nijedan pojam</span>
    <span ng-cloak ng-if="searchResults.length>0">pronađeno je {{searchResults.length}} rezultata:
</span>
<div ng-cloak>
    <!--<div data-ng-repeat="result in searchResults" class="round">

            <div class="line1">Termin:{{result.Term}}</div>
            <div class="line2">Kategorija:{{result.Title}}</div>
            <div class="line1">Opis:{{result.Description}}</div>
            <div class="line2">Dodao korisnik: <a href="#/user/{{result.Creator}}">{{result.Username}}</a> dana: {{result.Creation_date}} </div>
            <div><a href="#/term/{{result.Category_ID}}/{{result.ID}}" class="textbutton"><div>Detalji</div></a></div>
    </div>-->

    <table style="width: 100%;" class="bordered">
    <tr ng-repeat-start="term in searchResults track by term.ID+'_'+term.Category_ID"><!-- class="bordered term" -->
        <td style="text-align: left">
            <a href="#/term/{{term.Category_ID}}/{{term.ID}}"><b>{{term.Term}}</b></a>
            <span style="font-size: 90%">({{term.Title}})</span>
        </td>

        <td style="text-align: right">
            <span style="float: right; font-size: 90%">Dodao: <b>{{term.Username}}</b>, {{term.Creation_date | asDate | date : 'd.M.yyyy H:mm'}}</span>
        </td>
    </tr>
    <tr ng-repeat-end style="border-bottom: 1px solid black">
        <td colspan="2">
            <span>{{term.Description}}</span>
        </td>
    </tr>
    </table>
</div>
</div>
