<span ng-if="mode == 'view'" style="display:block">
        <div>
            <div class="bordered"><a href="user/{{comment.user_id}}">{{comment.username}}</a> on {{comment.creation_date}}</div>
            <div id="content">
                {{comment.text}}
            </div>
            <span class="menuItem" ng-show="owner" ng-click="controls.edit()">Edit</span>
            <span class="menuItem" ng-click="controls.reply(comment)">Reply</span>
            <span class="menuItem" ng-click="controls.quote(comment)">Quote</span>
        </div>
        </span>
<span ng-if="mode == 'edit'" style="display:block">
   <form id="commentForm" name='commentForm' ng-submit="saveComment(comment)">
        <textarea style="width:80%" id="commentText" placeholder="Please enter comment" ng-model="comment.text" ng-required="true"></textarea>
        <div><button type="submit" ng-disabled="commentForm.$invalid">UpdateComment</button>
        <button type="button" ng-click="cancel(commentForm.$dirty)">Cancel</button>
            </div>
    </form>
    </span>

<span ng-if="mode == 'new'">
   <form id="newCommentForm" name='newCommentForm' ng-submit="controls.saveComment(comment)">
        <textarea style="width:80%" id="newCommentText" placeholder="Please enter comment" ng-model="comment.text" ng-required="true"></textarea>
        <div><button type="submit"
                ng-disabled="newCommentForm.$invalid">AddComment</button>
        <button type="button" ng-click="controls.cancel(newCommentForm.$dirty)">Cancel</button>
            <div>
    </form>
    </span>
</div>