<h2>Računarska terminologija</h2>
<p>Dobrodošli u aplikaciju. <span ng-if="!userSession.logged_in">Prijavite se ili registrujte nalog.</span></p>
<span ng-controller="QuickSearchCtrl">
		<Search mode="quick" params="params" searchfn="d.search(params)"></Search>
			</span>
<a href="#/categories"><div>Spisak kategorija</div></a>
<a ng-cloak ng-if="userSession.userRole == 1" href="#/dashboard"><div>Log aktivnosti</div></a>
<div ng-controller="HomeCtrl">

</li></ul>
</div>

