<div class="error" ng-cloak ng-if="error != null" ng-bind="error"></div>
    <span id="LayoutMenu">
        <img class='navIcon' id="list" src="img/layoutList.svg" ng-click="displayStyle='CategoryList'"/>
        <img class='navIcon' id="grid" src="img/layoutGrid.svg" ng-click="displayStyle='CategoryGrid'"/>
    </span>
    <ul ng-class='displayStyle'>
        <li ng-repeat="category in categories track by category.id" ng-click="viewCategory(category.id);">
            <h3>{{category.title}}</h3>
            <span style="font-style: italic">{{category.description}}</span>
            <span style="font-size: 90%; color: blue">{{category.conclusion}}</span>
            <a href="#/category/{{category.id}}">Vidi detalje</a>
        </li>
    </ul>
    <a ng-if="!newCategory" href="" class="textbutton" ng-click="AddNewCategory()">Dodaj kategoriju</a>

    <div ng-cloak class="modal" ng-if="newCategory">
        <div class="modalcontent">
            Dodavanje kategorije:
    <form ng-cloak name="categoryForm" style="padding:30px" class="inputForm" ng-submit="AddCategory(newCategory)">
        <label for="title">Naziv:</label><input id='title' type="text" ng-model="newCategory.title" ng-required="true">
        <label for="description">Opis:</label><input id="description" type="text" ng-model="newCategory.description" ng-required="true">
        <label for="conclusion">Zaključak:</label><textarea id="conclusion" ng-model="newCategory.conclusion"></textarea>
        <button type="submit" ng-disabled="categoryForm.$invalid || categoryForm.$pristine">Snimi</button>
        <button type="button" ng-click="CancelAdd()">Otkaži</button>
        <div class="error" ng-cloak ng-if="error != null" ng-bind="error"></div>
    </form>
        </div>
    </div>