<div class="error" ng-cloak ng-if="error" ng-bind="error"></div>
<div id="CategoryView" >
    <div class="round" ng-cloak ng-if="!editDetails" id="Details">
        <!--<div class="line1">Naziv:{{categoryDetails.title}}</div>
        <div class="line2">Opis:{{categoryDetails.description}}</div>
        <div class="line1">Creator:{{categoryDetails.creator}}</div>
        <div class="line2">Zaključak:{{categoryDetails.conclusion}}</div>-->
        <h2>{{categoryDetails.title}}</h2>
        <p>{{categoryDetails.description}}</p>
        <p><b>Kategoriju napravio:</b> {{categoryDetails.creator}}</p>
        <p ng-cloak ng-if="categoryDetails.conclusion && categoryDetails.conclusion.length > 0"
            class="conclusion">{{categoryDetails.conclusion}}</p>

        <a href="" class="textbutton" ng-click="EditDetails()">Izmena detalja</a>
    </div>

    <form ng-cloak ng-if="editDetails" name="categoryForm" class="inputForm" ng-submit="UpdateDetails(editDetails)">
            <label for="title">Naziv:</label><input id='title' type="text" ng-model="editDetails.title" ng-required="true">
            <label for="description">Opis:</label><input id="description" type="text" ng-model="editDetails.description" ng-required="true">
            <label for="conclusion">Zaključak:</label><textarea id="conclusion" ng-model="editDetails.conclusion"></textarea>
        <button type="submit" ng-disabled="categoryForm.$invalid || categoryForm.$pristine">Snimi</button>
        <button type="button" ng-click="CancelEdit()">Otkaži</button>
    </form>

    <div id="TermsOptions" ng-if="!editDetails">
        <a href="" class = "textbutton" ng-if="!newTerm" ng-click="addNewTerm()">Dodaj novi termin</a>
    </div>
    <div ng-if="newTerm" id="termEditorPlaceholder" class="modal">
        <div class="modalcontent">
            <div>Dodavanje novog termina</div>
        <div categoryterm controls="tcontrols" mode="edit" data="newTerm" categories="categories"></div>
        </div>
    </div>

    <div id="CategoryTerms">
        <h4>Termini</h4>
        <div mode="view" categoryterm ng-repeat="term in categoryTerms track by term.ID" class="bordered" controls="tcontrols" data="term" categoriesData="categories"> </div>
    </div>
</div>