<form name="categoryForm" class="inputForm">
    <div id="Details">
        <label for="title">Naziv:</label><input id='title' type="text" ng-model="category.title" ng-required="true">
        <label for="description">Opis:</label><input id="description" type="text" ng-model="category.description" ng-required="true">
        <label for="conclusion">Zaključak:</label><textarea id="conclusion" ng-model="category.conclusion"></textarea>
    </div>
    <button type="submit" ng-disabled="categoryForm.$invalid || categoryForm.$pristine">Snimi</button>
</form>