/* app css stylesheet */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

footer {
	font-size: 80%;
	display: block;
	border-top: solid gray 1px;
	/*position: absolute; NIJE POTREBNO*/
	/*bottom: 0;*/
	left: 0;
	right: 0;
	text-align: center;
	color: gray;
}

#mainPage {
	padding: 0.7em;
}

#mainPage h2 {
	margin-top: 0.3em;
}

h2, h3, h4 {
	margin: 0.5em 0;
}

.full-width
{
	left: 2px;
	right: 2px;
	bottom: 2px;
}

body
{
	position: absolute;
	bottom: 48px;
	top: 0;
	left: 0;
	right: 0;
	scroll:auto;
}

#header
{
	position: relative;
	padding-top: 4px;
}

.fill-vertical
{
	height: 100%;
}

.bordered
{
	border: solid black 1px;
}

.three-quarters
{
	width: 75%
}

.center
{
	margin-left: auto;
	margin-right:auto;
	text-align: center;
}

#toggleWidth
{
	overflow-y: scroll;
}

.error {
	background: #ff9999;
	border: 1px solid red;
	border-radius: 3px;
	color: #990000;
	padding: 2px 5px;
}

nav {
	border-bottom: 0.1em solid black;
	margin: 0;
	padding: 0.7em;
}

.textbutton
{
	display: inline-block;
	border-bottom: solid black 2px;
	border-top: solid lightgray 2px;
	border-left: solid darkgray 2px;
	border-right: solid grey 2px;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	text-decoration: none;
	color: black;
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 0 .3em;
}
.textbutton:hover
{
	background-color: #ffff99;
}

.textbutton p {
	margin: 0;
}

/*zajebancija*/
input[type="checkbox"]:checked + label p::after {
	 content: '> <'
}

input[type="checkbox"] + label p::after {
	content: '< >'
}

.menu {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}


.menu > li {
	display: inline;
}

.menu > li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
	content: "";
	padding: 0;
}

.inputForm label {
	display: block;
	width: 90%;
	/*margin-left: 0;*/
	margin: auto;
}

.inputForm textarea {
	display:block;
	width: 90%;
	margin:auto;
}

.inputForm  input  {
	display: block;
	width: 90%;
	margin: auto;
	padding: 0.7em;
}

.inputForm  button  {
	display: inline-block;
	width: 90%;
	margin: auto;
	padding: 0.7em;
}

.inputForm  .center  {
	width: 40em; /*600px; avoid px because of different screen sizes */
	margin: auto;
	line-height: 200%
}

/* Category list css */

div#CategoriesContainer {
	width: 920px; /**/
	margin: auto;
	border: solid 1px black;
}

span#LayoutMenu {
	text-align: right;
	display: block;
	border: solid 1px black;
}

span#LayoutMenu > .navIcon {
	display: inline-block;
	clear: left;
	border: solid 1px black;
}

ul.CategoryGrid, ul.CategoryList {
	padding-left: 0;
}

ul.CategoryGrid li:hover, ul.CategoryList li:hover {
	 background-color: #BBBBBB;
	 cursor: zoom-in;
}

ul.CategoryGrid > li {
	display: inline-block;
	width: 20em;
	margin: 0.5em;
	vertical-align: middle;
}
ul.CategoryList > li {
	display: block;
	border: solid gray;
	border-width: 0 0 1px;
}

ul.CategoryList > li > span {
	display: inline-block;
	line-height: 150%;
	margin: 0 .6em;
}
ul.CategoryGrid > li > span {
	display: block;
	/*margin: 1em;*/
	padding: 1em;
}

ul.CategoryGrid h3 {
	margin: 0 0 0.5em;
}
ul.CategoryList h3 {
	display: inline;
	margin: 0 .6em;
	/*float: left;*/
}

ul.CategoryGrid > a, ul.CategoryList > a {
	display: inline-block; /* Fix za prelazak "Vidi- detalje" u novi red */
}

.conclusion {
	font-size: 90%; color: blue;
}

#Details p {
	margin: .5em 0;
}

/*CategoryView*/

#TermsOptions > span {
	display: inline-block;
	padding: 0.5em;
	margin: 0.5em;
	cursor: pointer;
	border: solid 1px black;
}

#TermsOptions > span:hover {
	background-color: #BBBBBB;
}
/*TermView*/

.menuItem {
	display:inline-block;
	border:solid black 1px;
	cursor:pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.editButton
{
	background-image: url('img/ic_mode_edit_black_18dp.png');
}

.deleteButton
{
	background-image: url("img/ic_delete_black_18dp.png");
}

.menuItem:hover
{
	background-color: #e1b80d;
	cursor: pointer;
}

/*QuickSearch*/
.quickSearch
{
	display:block;
	text-align:right;
	margin:auto;
}

.imageButton{
	background-color:transparent;
	border-color:transparent;
}

.imageButton:hover{
	background-color:transparent;
	border-color: red;

}

#voteContainer{
	margin: auto;
	width: 400px;
	height: 200px;

}

.dashboard
{
	width:100%;
	border: solid black 1px;
}
.dashboard td
{
	padding: 0 .5em;
}

/*simple modal div container*/
div.modal {
	background-color: rgba( 0, 0, 0, 0.8 ) ;
	bottom: 0px ;
	left: 0px ;
	position: fixed ;
	right: 0px ;
	top: 0px ;
	align-content: center;
}

div.modal .modalcontent
{
	background-color:beige;
	/*top:200px;*/
	top: 20%;
	max-height: 75%; /* ova i linija ispod sprecavaju da predugacki dijalozi produze ispod strane */
	overflow-y: auto; /* pa da se ne moze sve videti. za ostale dijaloge, scrollbar se ne vidi */
	position:absolute;
	margin-left:-25%;
	left:50%;
	width:50%
}

.tooltipped p
{
	visibility: hidden;
	background-color:white;
	display:inline; position:absolute;
	padding:14px 20px;
	margin-top:-10px; margin-left:15px;
	/*width:300px; line-height:16px;*/
}

.tooltipped:hover p
{
	visibility: visible;

}

.line1{
	background-color: #867666;
}

.line2{
	background-color: #d5c3aa;

}

/* These tables are meant for 2-column data - left one th (label), right one td (data) */
table.input {
	width: 90%;
	margin: auto;
}
table.input td, table.input th {
	box-sizing: border-box;
	width: 50%;
	padding: .5em;
}
table.input th {
	text-align: right
}
table.input td {
	text-align: left;
}

.background{
	background-color: #eae2d6;

}

.round{
	border-radius: 80px 10px 80px 10px;
	-moz-border-radius: 80px 10px 80px 10px;
	-webkit-border-radius: 80px 10px 80px 10px;
	border: 3px solid #000000;
	overflow: hidden;

}

.logEven
{
	background-color: #ebebeb;
}
.logOdd
{
	background-color: beige;
}

/* JSON Display classes */
.jsonPreview .package {padding:0 3px; border-radius:2px; /*margin-top:3px;*/}
.jsonPreview .header {cursor:pointer; text-align: left;}
.jsonPreview .name {color:gray; min-width:8em; display:inline-block}

.jsonPreview .array {background-color:#D8FFBB; border:thin solid #B7FF80;}
.jsonPreview .object {background-color:#E7F1FE; border:thin solid #7DA2CE;}
.jsonPreview .string {color:red;}
.jsonPreview .number {color:blue;}
.jsonPreview .function {color:green;}

.jsonPreview .open .children {display:block;}
.jsonPreview .closed .children {display:none;}
.jsonPreview .arrow {
	background:url("img/d.png") no-repeat transparent;
	height:15px;
	width:15px;
	display:inline-block;
}
.jsonPreview .open .arrow {background-position:-20px 0;}
.jsonPreview .closed .arrow {background-position:0 0;}

.jsonPreview .type {color:gray; font-size:70%; float:right;  display: none}/* ne treba nam to sa desne strane... */
.jsonPreview .hide {display: none;}
