<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title ng-bind="'Računarska terminologija'">Računarska terminologija</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
	<link rel="stylesheet" href="bower_components/angular/angular-csp.css">
	<link rel="stylesheet" href="bower_components/angular-jk-rating-stars/dist/jk-rating-stars.min.css">
	<link rel="stylesheet" href="app.css">
	<link rel="stylesheet" type="text/css" href="bower_components/jquery-comments/css/jquery-comments.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="background">
	<div id="header" ng-controller="MenuCtrl"><!-- zasto nije <header>? kad vec radimo sa HTML5 svuda -->
		<ul class="menu" ng-cloak><!-- ng-if="user_session.logged_in" -->
			<li><a href="#/home">početna</a></li>
			<li><a href="#/categories">kategorije</a></li>
			<li ng-if="user_session.logged_in && user_session.userRole == 1"><a href="#/dashboard">log</a></li>
		</ul>

		<input style="display:none" id="width_toggle" type="checkBox" ng-model="$root.full">
		<label for="width_toggle" style="position: absolute; left: 50%; width: 2.5em; margin-left: -1.25em; text-align: center;">
			<span class="textbutton" style="margin-top: -6px"><p></p></span></label>

		<ul class="menu" style="float: right" ng-cloak ng-if="!user_session.logged_in">
			<li><a href="#/user/login">prijava</a></li>
			<li><a href="#/user/register">registracija</a></li>
		</ul>
		<div style="float: right" ng-cloak ng-if="user_session.logged_in">
			<span>{{user_session.personName}}, {{user_session.institute}}</span>
			<ul class="menu">
				<li><a href="" ng-click="logoutUser()">odjava</a></li>
				<li><a href="#/user/profile">profil</a></li>
			</ul>
		</div>
		<div style="clear: both"></div>
	</div>

	<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div id="toggleWidth" class="fill-vertical bordered center" ng-class="{'full-width':$root.full, 'three-quarters':!$root.full}">
	<section id="mainPage" ng-view>

	</section>
	</div>

	<footer>
		<div ng-cloak><!-- v<span app-version></span> --> Rečnik računarskih termina,
			PWEB 2016 projekat &copy; Matematički fakultet</div>
	</footer>

	<!-- In production use:
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
	-->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="js/global.js"></script>
	<script src="app.js"></script>
	<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
	<script src="bower_components/angular-jk-rating-stars/dist/jk-rating-stars.min.js"></script>
	<script src="bower_components/Chart.js/Chart.js" ></script>
	<script src="bower_components/angular-chart.js/dist/angular-chart.min.js" ></script>
	<script src="bower_components/jquery/dist/jquery.min.js" ></script>
	<script src="bower_components/jquery-comments/js/jquery-comments.min.js" ></script>
	<script src="js/json2html.js"></script>
	<script src="js/jquery.json2html.js"></script>
	<!-- Pages -->
	<script src="home/homePage.js"></script>
	<script src="user/user.js"></script>
	<script src="js/menu.js"></script>
    <script src="category/category.js"></script>
    <script src="term/term.js"></script>
	<script src="search/search.js"></script>
	<script src="comment/comment.js"></script>
	<script src="vote/vote.js"></script>
	<script src="translation/translation.js"></script>
	<script src="activityLog/activityLog.js"></script>
	<!-- Services -->
	<script src="js/api.js"></script>
	<!-- Other components -->
	<script src="components/version/version.js"></script>
	<script src="components/version/version-directive.js"></script>
	<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
