<div class="error" ng-cloak ng-if="error != null" ng-bind="error"></div>

<div ng-cloak ng-if="!error">
    <h3>Izveštaj aktivnosti</h3>

    <div class="filters">
        <span ng-repeat="filter in typeFilters" style="padding: 0 .3em">
            <input id="{{filter.id}}" ng-model="filter.active" type="checkbox"/>
            <label for="{{filter.id}}"> {{filter.name}}</label>
        </span>
    </div>
    <div class="filters">
        <span ng-repeat="action in actionFilters" style="padding: 0 .3em">
            <input id="action_{{action.actionType}}" ng-model="action.active" type="checkbox"/>
            <label for="action_{{action.actionType}}"> {{action.name}}</label>
        </span>
    </div>
    <div>
        <label for="pageSize">Redova po stranici: </label>
        <select id="pageSize" ng-model="paginator.pagesize" ng-options="pagesize for pagesize in paginator.pagesizes">
        </select>
    </div>
    <div><a href="" class="textbutton" ng-click="applyFilters()">Primeni filtere</a></div>

<table class="dashboard">
    <caption><!--Activity log-->
        <a class="textbutton" href="" ng-disabled="{{paginator.page==1}}" ng-click="paginator.first()">|&lt;</a>
        <a class="textbutton" href="" ng-disabled="{{paginator.page==1}}" ng-click="paginator.back(5)">&lt;&lt;</a>
        <a class="textbutton" href="" ng-disabled="{{paginator.page==1}}" ng-click="paginator.back(1)">&lt;</a>
        <span style="display: inline-block; min-width: 15em">strana {{paginator.page}}/{{paginator.pages}}</span>
        <a class="textbutton" href="" ng-click="paginator.fwd(1)">&gt;</a>
        <a class="textbutton" href="" ng-click="paginator.fwd(5)">&gt;&gt;</a>
        <a class="textbutton" href="" ng-click="paginator.last()">&gt;|</a>
    </caption>
    <tr style="background: lightgray">
        <th style="width: 10.5em; min-width: 10.5em">Datum</th>
        <th style="width: 9em;">Korisnik</th>
        <th style="width: 10em; min-width: 10em">Akcija</th>
        <th>Parametri</th>
    </tr>
    <tr ng-repeat="activity in activities"  ng-class-even="'logEven'" ng-class-odd="'logOdd'" > <!-- |  filter:activeTypes |filter:activeActions | startFrom:(paginator.page-1)*paginator.pagesize | limitTo:paginator.pagesize" ng-class=""> -->
        <td>{{activity.date | asDate | date:'d.M.yyyy H:mm:ss'}}</td>
        <td>{{activity.username}}</td>
        <td><span ng-switch="activity.actiontype">
                <span ng-switch-when="0" style="color: green">Dodato</span>
                <span ng-switch-when="1">Izmena</span>
                <span ng-switch-when="2" style="color: red">Brisanje</span>
            </span>: <span ng-switch="activity.resourceType">
                <span ng-switch-when="CATEGORY">kategorija</span>
                <span ng-switch-when="TERM">termin</span>
                <span ng-switch-when="TRANSLATION">prevod</span>
                <span ng-switch-when="EXAMPLE">primer</span>
                <span ng-switch-when="COMMENT">komentar</span>
                <span ng-switch-when="VOTE">ocena</span>
                <span ng-switch-default>{{activity.resourceType}}</span>
            </span>
        </td>
        <td style="position: relative;">
            <!--<div style="position: absolute; left: 0; right: 0; top: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
            {{activity.argument}}
            </div>-->
            <div class="jsonPreview" json-display="activity.argument" json-open="false" json-title="'kliknuti za prikaz...'"></div>
        </td>
    </tr>
    <tr ng-if="activities.length == 0"><td colspan="4">Nema rezultata</td></tr>

</table>
</div>