<div>
    <span style="display:inline-block; float:right">{{log.date}}</span>

<div ng-switch="actionType">
    <span ng-switch-when="'INSERT'"></span>
    <span ng-switch-when="'DELETE'"></span>
    <span ng-switch-when="'UPDATE'"></span>

</div>
</div>