<span ng-switch="mode">
    <span ng-if="mode=='view'">
         {{data.language}} : <b>{{data.translation}}</b>
        <div>Prosečna ocena: {{data.rating}}</div><div><!--
            TODO: malo kompaktnije. Ocena u isti red, mozda cak sa zvezdicama. Ceo red da ide na detalje. Slicica-dugme za brisanje!
        --></div>
    <div id="TranslationOptions">
        <a href="#/translation/{{data.id}}">Detalji prevoda</a>
        <a href="" class="textButton" ng-click="controls.delete(data.id)">Obriši ovaj prevod</a>
    </div>
        </span>
    <span ng-if="mode == 'edit'">
   <form id="translationForm" name='translationForm' ng-submit="controls.save(data)">
        <div>Nov predlog prevoda za termin:</div>
        <label for="lang">Jezik*</label>
        <select id="lang" ng-required="true" ng-model="data.language">
            <option ng-repeat="language in languages track by language.code" value="{{language.code}}">{{language.language}}</option>
        </select>
        <label for="translation">Prevod:*</label>
        <input id="translation" placeholder="Unesite predlog prevoda" type="text" ng-model="data.translation" ng-required="true" >
       <label for="arg">Obrazloženje</label>
       <textarea id="arg" ng-model="data.argument" ng-required="true" placeholder="Unesite obrazloženje" ></textarea>
        <button type="submit" ng-disabled="translationForm.$invalid">Dodaj predlog prevoda</button>
        <a href="" class="textbutton" ng-click="controls.cancel(translationForm.$dirty);">Otkaži</a>
    </form>
    </span>
</span>