<div class="error" ng-repeat="error in errors">{{error}}</div>
<div class="centered bordered">
    <!--<span class="caption"><div class="bordered">Detalji prevoda</div></span><div class="round">
    <div class="line1" id="translation">Prevod: {{translation.translation}}</div>
    <div class="line2" id="language">Jezik: {{translation.language}}</div>
    <div class="line1" id="user">Dodao korisnik: <a href="user/{{translation.user_id}}">{{translation.username}}</a> dana: {{translation.creation_date}}</div>
    <div class="line2" id="argument">Obrazloženje: {{translation.argument}}</div>
    <div class="line1" id="rating">Težinski prosek ocena: {{translation.rating}}</div></div> <br>
    -->
    <div class="round">
        <h3><a href="#/term/{{translation.category_id}}/{{translation.org_term}}">{{translation.term}}</a>
            &ndash;&gt; {{translation.translation}}</h3>

        <div>
            <b>Jezik:</b> {{translation.language}}<br>
            <b>Kategorija:</b> <a href="#/category/{{translation.category_id}}">{{translation.category}}</a><br>
            <b>Dodao:</b> {{translation.username}}, {{translation.creation_date | asDate | date:'d.M.yyyy H:mm'}}
        </div>
        <p>{{translation.argument}}</p>
    </div>
    <br>

    <div id="Votes">
        <jk-rating-stars ng-show="showRating" rating="ratingOption" read-only="readWriteOption" ng-model="votes" on-rating="addVote(rating)" ></jk-rating-stars>

        <div>Težinski prosek ocena: {{translation.rating}}</div>

        <details id="voteContainer">
       <!--     <summary>Glasova: {{translation.all_votes.length}}</summary>
        <div ng-repeat="vote in translation.all_votes track by vote.user_ID">
            Korisnik {{vote.username}} je ocenio ovaj predlog sa {{vote.vote}}, dana : {{vote.creation_date}} <!-- polje vote.creation_date ne postoji u bazi
            </div> -->

            <canvas id="voteBar" class="chart chart-bar"
                    chart-data="voteData" chart-labels="labels" chart-series="series"></canvas>


        </details>
    </div>
    <!--
    <div id="Comments">
        <a ng-if="!newComment" href="" ng-click="commentControls.addComment()" class="textbutton">[Dodaj komentar]</a>
        <comment mode="new"  ng-if="newComment" comment='newComment' controls="commentControls"></comment>
        <comment mode="view" comment="comment" ng-repeat="comment in translation.all_comments | orderBy: '-creation_date' track by comment.id" controls="commentControls"></comment>
    </div> -->

    <div comments id="comments-container">
    </div>

</div>

<!--
   {
   "id":"1",
   "translation":"Podrazumevano",
   "language":"SR",
   "org_term":"1",
   "category":"Programski jezici",
   "user_id":"1",
   "username":"user",
   "creation_date":"2016-06-12 23:21:04",
   "argument":"Zbog reasons",
   "all_comments":[
      {
         "id":"1",
         "user_id":"1",
         "username":"user",
         "creation_date":"2016-06-12 23:25:43",
         "text":"Bez komentara",
         "reply":null,
         "_fields":[

         ],
         "_modified":[

         ]
      },
      {
         "id":"2",
         "user_id":"2",
         "username":"admin",
         "creation_date":"2016-06-12 23:25:43",
         "text":"Komentar na komentar",
         "reply":"1",
         "_fields":[

         ],
         "_modified":[

         ]
      }
   ],
   "all_votes":[
      {
         "user_ID":"1",
         "username":"user",
         "vote":"1",
         "_fields":[

         ],
         "_modified":[

         ]
      },
      {
         "user_ID":"2",
         "username":"admin",
         "vote":"1",
         "_fields":[

         ],
         "_modified":[

         ]
      }
   ],
   "rating":"1.0000",
   "_fields":[

   ],
   "_modified":[

   ]
}
-->