<h2>Prijava na sistem</h2>

<div class="error" ng-cloak ng-if="error != null">{{error}}</div>

<form  class="inputForm" id="loginForm" name="loginForm" ng-submit="loginUser(loginData, loginForm)">
	<fieldset class="center"><!--<legend><h3>Prijava na sistem</h3></legend>-->
	<p>
		<label for="loginUsername">Korisničko ime:</label>
		<input id="loginUsername" type="text" name="username" ng-model="loginData.username" ng-required="true">
	</p>
	<p>
		<label for="loginPassword">Lozinka:</label>
		<input id="loginPassword" type="password" name="password" ng-model="loginData.password" ng-required="true">
	</p>

	<button type="submit" ng-disabled="loginForm.$invalid">Prijava</button>
	</fieldset>
</form>

<!--
<p>
  Showing of 'interpolate' filter:
 {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
-->