    <h2>Korisnički podaci</h2>

    <div ng-cloak ng-if="!editData">
        <table class="input">
            <tr><th>Korisničko ime:</th><td>{{user.username}}</td></tr>
            <tr><th>Ime:</th><td>{{user.firstName}} {{user.lastName}}</td></tr>
            <tr><th>E-mail:</th><td>{{user.email}}</td></tr>
            <tr><th>Organizacija:</th><td>{{user.company}}</td></tr>
        </table>
        <a class="textbutton" href="" ng-click="edit()">Izmena profila</a>
    </div>

        <div class="modal" ng-cloak ng-if="editData">
        <form class="inputForm modalcontent" id="profileEditForm" name="profileEditForm" ng-submit="updateProfile(editData,profileEditForm)">
            <fieldset class="center">
                <legend><h2>Izmena profila</h2></legend>

                <label for="email">E-Mail adresa:</label>
                <input id="email" type="email" name="email" ng-model='editData.email' ng-required="true">

                <label for="firstname">Ime:</label>
                <input id="firstname" type="text" name="firstname" ng-model='editData.firstName' ng-required="true">

                <label for="lastname">Prezime:</label>
                <input id="lastname" type="text" name="lastname" ng-model='editData.lastName' ng-required="true">

                <label for="company">Organizacija:</label>
                <input id="company" type="text" name="company" ng-model='editData.company' ng-required="true">

                <hr>
                <label for="pwinput1">Promena šifre:</label>
                <input id="pwinput1" type="password" name="password" ng-model='editData.password'>

                <!--<label for="pwinput2" ng-show="editData.password!=''">Ponovo:</label>-->
                <input id="pwinput2" type="password" name="password2" ng-model='editData.password2'
                       ng-required="editData.password!=''" ng-show="editData.password!=''" placeholder="Uneti ponovo">
                <span style="color: red" ng-show="(editData.password != editData.password2) && (editData.password2 != '')">Šifre se ne slažu!</span>

                <label for="oldpw" ng-show="editData.password!='' || profileEditForm.email.$dirty"><b>Trenutna šifra:</b></label>
                <input id="oldpw" type="password" name="oldpassword" ng-model='editData.oldpassword'
                       ng-required="editData.password!='' || profileEditForm.email.$dirty"
                       ng-show="editData.password!='' || profileEditForm.email.$dirty">

                <button type="submit"
                        ng-disabled="profileEditForm.$invalid || profileEditForm.$pristine || editData.password != editData.password2"
                        value="Sačuvaj">Sačuvaj</button>
                <button type="button" value="Otkaži" ng-click="cancelEdit()">Otkaži</button>
        </fieldset>
        </form>
    </div>