<h2>Registracija naloga</h2>

<div class="error" ng-cloak ng-if="error != null">{{error}}</div>

<form id="signupForm"  class="inputForm"  name="signupForm" ng-submit="registerUser(registerData, signupForm)"
	  ng-controller="UserRegisterCtrl">
	<fieldset class="center">
		<!--<legend><h2>Registracija naloga</h2></legend>-->
		<p>
			<label for="registerUsername">Korisničko ime:</label>
			<input id="registerUsername" type="text" name="username" ng-model='registerData.username'
			       ng-required="true">
		</p>
		<p>
			<label for="registerPassword">Lozinka:</label>
			<input id="registerPassword" type="password" name="password" ng-model='registerData.password'
			       ng-required="true" placeholder="lozinka"/>
		</p>
		<div ng-cloak ng-show="passwordMatch()" style="color: red; font-size: 80%">Lozinke moraju da se poklapaju</div>
		<p>
			<label for="confirmPassword">Potvrda lozinke:</label>
			<input id="confirmPassword" type="password" name="passwordconfirm" ng-model='registerData.password_confirm'
			       ng-required="true" md-match="password" placeholder="potvrdite lozinku"/>
		</p>
		<p>
			<label for="registerEmail">E-Mail adresa:</label>
			<input id="registerEmail" type="email" name="email" ng-model='registerData.email' ng-required="true">
		</p>
		<p>
			<label for="registerFirstname">Ime:</label>
			<input id="registerFirstname" type="text" name="firstname" ng-model='registerData.firstname'
			       ng-required="true">
		</p>
		<p>
			<label for="registerLastname">Prezime:</label>
			<input id="registerLastname" type="text" name="lastname" ng-model='registerData.lastname'
			       ng-required="true">
		</p>
		<p>
			<label for="registerCompany">Institucija/kompanija:</label>
			<input id="registerCompany" type="text" name="company" ng-model='registerData.company' ng-required="true">
		</p>

		<button type="submit" ng-disabled="signupForm.$invalid || passwordMatch()">Registracija</button>
	</fieldset>
</form>