<div ng-switch = "mode">
    <span ng-switch-when="view">
        <ul>
            <li>Username:{{Username}}{</li>
            <li>Ime:{{Firstname}}</li>
            <li>Prezime:{{Lastname}}</li>
            <li>e-mail:{{email}}</li>
            <li>Organizacija:{{Institute}}</li>
        </ul>
        <span class="menuItem" ng-click="setMode('edit')">Izmeni detalje</span>
    </span>
    <span ng-switch-when="edit">
        <form id="editProfileForm" ng-submit="save()">
            <input><legend><h2>Izmeni profil</h2></legend>
            <label for="Firstname">Ime:</label>
            <input id="Firstname" type="text" ng-required="true" ng-model='user.Firstname'>
            <label for="Lastname">Prezime:</label>
            <input id="Lastname" type="text" ng-required="true" ng-model='user.Lastname'>
            <label for="eMail">e-mail:</label>
            <input id="eMail" type="text" ng-required="true" ng-model='user.email'>
            <label for="Org">Organizacija:</label>
            <input id="Org" type="text" ng-required="true" ng-model='user.Institute'>
            <button type="submit" ng-disabled="addTermForm.$invalid">Save</button>
                </fieldset>
        </form>
    </span>
</div>
